<div style="margin-top: 5%">
    <div class="p-grid">
        <div class="p-col-12 p-justify-between">
            <p-panel header="Gestion de usuarios del sistema">
                <div class="p-grid p-justify-center p-4">
                    <div class="p-col-6">
                        <div class="card p-3">
                            <div class="h6">Ingreso de usuarios</div>
                            <form [formGroup]="newUser" (ngSubmit)="saveUser()">
                                <div class="p-grid">
                                    <div class="p-col-12">
                                        <span class="ui-float-label mt-4">
                                            <input formControlName="cedula" id="float-input" class="form-control" type="text" pInputText pTooltip="Ingrese un titulo descriptivo para el PDF" tooltipEvent="focus">
                                            <label for="float-input">Cedula del usuario</label>
                                        </span>
                                    </div>
                                </div>
                                <div class="p-grid">
                                    <div class="p-col-6">
                                        <span class="ui-float-label mt-4">
                                            <input formControlName="pNombre" id="float-input" class="form-control" type="text" pInputText pTooltip="Ingrese un titulo descriptivo para el PDF" tooltipEvent="focus">
                                            <label for="float-input">Primer nombre</label>
                                        </span>
                                    </div>
                                    <div class="p-col-6">
                                        <span class="ui-float-label mt-4">
                                            <input formControlName="sNombre" id="float-input" class="form-control" type="text" pInputText pTooltip="Ingrese un titulo descriptivo para el PDF" tooltipEvent="focus">
                                            <label for="float-input">Segundo nombre</label>
                                        </span>
                                    </div>
                                </div>
                                <div class="p-grid">
                                    <div class="p-col-6">
                                        <span class="ui-float-label mt-4">
                                            <input formControlName="pApellido" id="float-input" class="form-control" type="text" pInputText pTooltip="Ingrese un titulo descriptivo para el PDF" tooltipEvent="focus">
                                            <label for="float-input">Primer apellido</label>
                                        </span>
                                    </div>
                                    <div class="p-col-6">
                                        <span class="ui-float-label mt-4">
                                            <input formControlName="sApellido" id="float-input" class="form-control" type="text" pInputText pTooltip="Ingrese un titulo descriptivo para el PDF" tooltipEvent="focus">
                                            <label for="float-input">Segundo apellido</label>
                                        </span>
                                    </div>
                                </div>
                                <div class="p-grid">
                                    <div class="p-col-12">
                                        <span class="ui-float-label mt-4">
                                            <p-dropdown formControlName="idRol" [options]="roles" placeholder="Selecciona el rol del usuario"></p-dropdown>
                                        </span>
                                    </div>
                                </div>
                                <div class="p-grid">
                                    <div class="p-offset-4 p-col-5">
                                        <button pButton type="submit" *ngIf="newUser.valid && !btnEditUser" label="Crear usuario" class="ui-button ui-button-rounded ui-button-primary" style="width: 100%"></button>
                                    </div>
                                    <div class="p-offset-4 p-col-5" *ngIf="newUser.valid && btnEditUser">
                                        <button pButton type="button" label="Modificar usuario" class="ui-button ui-button-rounded ui-button-primary" (click)="updateUser()" style="width: 100%"></button>
                                    </div>
                                    <div class="p-col-3">
                                        <button pButton type="button" label="Cancelar" class="ui-button ui-button-rounded ui-button-secondary" (click)="cancelForm()" style="width: 100%"></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="p-col-5 p-offset-1">
                        <div class="card">
                            <div class="p-grid">
                                <p-listbox [options]="users" filter="filter" class="width" [(ngModel)]="userSelected" (onClick)="click($event)">
                                    <p-header>
                                        <span style="display: flex;justify-content: center;align-content: center;align-items: center;font-size: medium;">
                                            Lista de usuarios<i class="pi pi-user"></i>
                                        </span>
                                    </p-header>
                                </p-listbox>
                            </div>
                        </div>
                        <div class="card m-3 p-3" *ngIf="userSelected">
                            <small><strong>Nombre: </strong>{{userSelected.nombre}}</small>
                            <small><strong>  C.I : </strong>{{userSelected.cedula}}</small>
                            <small><strong>  Rol : </strong>{{userSelected.rol}}</small>
                        </div>
                        <div class="p-grid mt-1" *ngIf="userSelected">
                            <div class="p-col-6">
                                <button pButton type="button" *ngIf="!btnEditUser" label="Modificar" class="ui-button ui-button-rounded ui-button-secondary" (click)="editUser()" style="width: 100%"></button>
                            </div>
                            <div class="p-col-6">
                                <button pButton type="button" label="Eliminar" pButton (click)="showConfirm()" class="ui-button ui-button-rounded ui-button-info" style="width: 100%"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </p-panel>
        </div>
    </div>
</div>

<p-toast position="center" key="deleteUser" [modal]="true" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="confirmDelete()" label="Si, eliminar" class="ui-button ui-button-rounded ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="cancelDelete()" label="No, cancelar" class="ui-button ui-button-rounded ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>

<p-toast key="createSeccess" [style]="{marginTop: '80px'}"></p-toast>
<p-toast key="deleteSeccess" [style]="{marginTop: '80px'}"></p-toast>
<p-toast key="editSeccess" [style]="{marginTop: '80px'}"></p-toast>
<p-toast key="errorEditUser" [style]="{marginTop: '80px'}"></p-toast>