<div style="margin-top: 5%">
    <div class="p-grid">
        <div class="p-col-12 p-justify-between">
            <p-panel header="Gestion de usuarios del sistema">
                <div class="p-grid p-justify-center p-4">
                    <div class="p-col-6 card">
                        <div class="h6">Ingreso de usuarios</div>
                        <div class="p-grid">
                            <div class="p-col-12">
                                <span class="ui-float-label mt-4">
                                    <input id="float-input" class="form-control" type="text" pInputText pTooltip="Ingrese un titulo descriptivo para el PDF" tooltipEvent="focus">
                                    <label for="float-input">Cedula del usuario</label>
                                </span>
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-6">
                                <span class="ui-float-label mt-4">
                                    <input id="float-input" class="form-control" type="text" pInputText pTooltip="Ingrese un titulo descriptivo para el PDF" tooltipEvent="focus">
                                    <label for="float-input">Primer nombre</label>
                                </span>
                            </div>
                            <div class="p-col-6">
                                <span class="ui-float-label mt-4">
                                    <input id="float-input" class="form-control" type="text" pInputText pTooltip="Ingrese un titulo descriptivo para el PDF" tooltipEvent="focus">
                                    <label for="float-input">Segundo nombre</label>
                                </span>
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-6">
                                <span class="ui-float-label mt-4">
                                    <input id="float-input" class="form-control" type="text" pInputText pTooltip="Ingrese un titulo descriptivo para el PDF" tooltipEvent="focus">
                                    <label for="float-input">Primer apellido</label>
                                </span>
                            </div>
                            <div class="p-col-6">
                                <span class="ui-float-label mt-4">
                                    <input id="float-input" class="form-control" type="text" pInputText pTooltip="Ingrese un titulo descriptivo para el PDF" tooltipEvent="focus">
                                    <label for="float-input">Segundo apellido</label>
                                </span>
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12">
                                <span class="ui-float-label mt-4">
                                    <p-dropdown [options]="cities1" placeholder="Selecciona el rol del usuario"></p-dropdown>
                                </span>
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12">
                                <span class="ui-float-label mt-4">
                                    <p-checkbox label="Usuario pasante" ></p-checkbox>
                                </span>
                            </div>
                        </div>
                        <div class="p-grid">
                            <div class="p-col-12">
                                <span class="ui-float-label mt-4">
                                    <input id="float-input" class="form-control" type="text" pInputText pTooltip="Ingrese un titulo descriptivo para el PDF" tooltipEvent="focus">
                                    <label for="float-input">Ingresa la institucion de procedencia</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-5 p-offset-1 card">
                        <div class="h6">Lista de usuarios</div>
                    </div>
                </div>
            </p-panel>
        </div>
    </div>
</div>