<div class="col-12 mt-5 mb-5">
    <div class="p-grid p-dir-col p-align-center">
        <p-card header="Cambio de clave">
            <div class="p-col-12">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-key"></i></span>
                    <input type="password" pInputText placeholder="Nueva clave" style="width: 100%" [(ngModel)]="change.password">
                </div>
            </div>
            <div class="p-col-12">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-key"></i></span>
                    <input type="password" pInputText placeholder="Repita su clave" style="width: 100%" [(ngModel)]="change.repeatPassword">
                </div>
            </div>
            <div class="p-col-12">
                <button pButton type="submit" label="Cambiar" class="ui-button ui-button-success" style="width: 100%" (click)="changePassword()"></button>
            </div>
        </p-card>
    </div>
    <div class="p-offset-2 p-col-8">
        <p-messages [(value)]="message"></p-messages>
    </div>
</div>