<div style="margin-top: 5%">
    <form [formGroup]="pdfCreate" (ngSubmit)="guardarPDF()">
        <p-panel header="Crea PDF a partir de imagenes y guardalas en la nube">
            <div class="p-grid">
                <div class="p-col-4">
                    <div class="h6 mt-4">Ingrese los datos necesarios para el PDF</div>
                    <span class="ui-float-label mt-4">
                        <input formControlName="titulo" id="float-input" class="form-control" type="text" pInputText pTooltip="Ingrese un titulo descriptivo para el PDF" tooltipEvent="focus">
                        <label for="float-input">Titulo del documento</label>
                    </span>
                    <span class="ui-float-label mt-4">
                        <input formControlName="autor" id="float-input" class="form-control" type="text" pInputText pTooltip="Ingrese el nombre del autor del documento" tooltipEvent="focus">
                        <label for="float-input">Autor</label>
                    </span>
                    <span class="ui-float-label mt-4">
                        <input formControlName="asunto" id="float-input" class="form-control" type="text" pInputText pTooltip="Ingresa el asunto del documento Ej. Oficio, Certificado" tooltipEvent="focus">
                        <label for="float-input">Asunto</label>
                    </span>
                    <span class="ui-float-label mt-4">
                        <textarea rows="1" cols="30" pInputTextarea autoResize="autoResize" formControlName="comentario" id="float-input"  pTooltip="Ingresa un comentario descriptivo del documento, trata de ser lo mas claro posible." tooltipEvent="focus"></textarea>
                        <label for="float-input">Comentario del PDF</label>
                    </span>
                    <span class="ui-float-label mt-4">
                        <p-chips formControlName="keywords" placeholder="Presiona enter despues de cada palabra" pTooltip="Ingresa palabras clave del documento que permitan identificarlo. Ej: oficio, potabilizacion, cabildo." tooltipPosition="top" tooltipEvent="hover"></p-chips>       
                    </span>
                    <span class="ui-float-label mt-4">
                        <p-dropdown emptyFilterMessage="Al parecer no existe la carpeta." [options]="cars" formControlName="node" filter="true" placeholder="Selecciona la carpeta en la que vas a guardar" pTooltip="Selecciona la carpeta segun el tipo de documento" tooltipEvent="hover">
                            <ng-template let-car pTemplate="item">
                                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                    <img src="" style="width:24px;position:absolute;top:1px;left:5px" />
                                    <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </span>
                </div>
                <div class="p-col-7 p-offset-1">
                    <div class="h6 mt-4 mb-3">Seleccione las imagenes para el documento</div>
                    <div style="height: 500px; overflow: scroll">
                        <p-fileUpload name="myfile[]" multiple="true" (onSelect)="selectImg($event)" [showUploadButton]="false" chooseLabel="Seleccionar imagenes" cancelLabel="Cancelar" url="http://localhost:3000/api/docs/" [auto]="true"></p-fileUpload>
                    </div>
                </div>
                <div class="p-col-12">
                    <div class="p-grid p-justify-center">
                        <div class="p-col-4">
                        </div>
                    </div>
                </div>
            </div>
            <p-footer>
                <div class="p-grid">
                    <div class="p-offset-3 p-col-6">
                        <button pButton type="submit" [disabled]="!pdfCreate.valid" label="Guardar PDF" class="ui-button ui-button-rounded ui-button-success" style="width: 100%"></button>
                    </div>
                    <div class="p-col-3">
                        <button pButton type="button" label="Cancelar" class="ui-button ui-button-rounded ui-button-warning" style="width: 100%" (click)="cancelarPDF()"></button>
                    </div>
                </div>
            </p-footer>
        </p-panel>
    </form>
</div>