<div class="container headerCocodoc">
    <div class="d-flex justify-content-center align-items-center">San José de Cocotog</div>
    <div class="d-flex justify-content-center align-items-center"><button pButton type="button" label="Cerrar sesion" *ngIf="isLogged" class="ui-button-rounded ui-button-info"></button></div>
</div>

<div class="container mt-5">
    <div class="mt-5 mb-5">
        <p-tabMenu [model]="menu" *ngIf="isLogged">
            <ng-template pTemplate="item" let-item let-i="index">
                <div style="position: relative; text-align: center; min-width: 10em">
                    <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em"></div>
                    <div class="ui-menuitem-text">
                        {{item.label}}
                    </div>
                </div>
            </ng-template>
        </p-tabMenu>
        <router-outlet></router-outlet>
    </div>
</div>
<footer class="container d-flex justify-content-center footerCocodoc">
    <small class="giothcode">&copy;2019 for GIOTHCODE</small>
</footer>
<!-- ;display: flex;justify-content: center;align-items: center; -->