<div class="d-flex flex-column justify-content-between">
  <div class="headerCocodoc p-5">
    <div class="d-flex justify-content-center align-items-center">
      San José de Cocotog
    </div>
    <div>
      <p-menubar [model]="menu" *ngIf="isLogged">
        <button
          id="logout"
          pButton
          label="Logout"
          icon="pi pi-sign-out"
          style="margin-left:.25em"
          (click)="signOut()"
        ></button>
      </p-menubar>
    </div>
  </div>

  <router-outlet></router-outlet>
  <!-- <div class="col-12">
    </div> -->
  <!-- <div class="mt-5 mb-5">
        <p-tabMenu [model]="menu" *ngIf="isLogged">
            <ng-template pTemplate="item" let-item let-i="index">
                <div style="position: relative; text-align: center; min-width: 10em">
                    <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em"></div>
                    <div class="ui-menuitem-text">
                        {{item.label}}
                    </div>
                </div>
            </ng-template>
        </p-tabMenu>
    </div> -->
  <footer>
    <div class="d-flex justify-content-center footerCocodoc">
      <small class="giothcode">By GIOTHCODE 💚 2020&copy;</small>
    </div>
  </footer>
</div>
<!-- ;display: flex;justify-content: center;align-items: center; -->
